/*!CK:2958695585!*//*1384873463,178129961*/

.FlyoutFriendListMenuNUX{background-color:#f6f6f6;border:1px solid #b3b3b3;box-shadow:0 2px 5px rgba(0, 0, 0, .3);min-height:100%;position:absolute;right:-100%;top:-1px;width:100%;z-index:-1}
.FlyoutFriendListMenuNUX .content{padding-left:15px}
div._149 div{line-height:14px}

#bootloader_R0_Qu { height: 42px; }
.bootloader_R0_Qu { display:block !important; }