/*!CK:662350284!*//*1380019897,173217321*/

.permalinkBody._57_t .hasRightCol #rightCol{background-color:#fff;border:1px solid #c4cde0;border-radius:4px;padding:0 3px 1px;width:244px}
.permalinkBody._57_t .hasRightCol #contentArea{width:623px}
.permalinkBody._57_t .ego_column{width:244px}
.permalinkBody._57_t .ego_column .ego_section .ego_unit_container
.ego_unit{border-color:#e9e9e9}
.permalinkBody._57_t .uiSideHeader{height:20px;margin:6px 6px 0 6px;width:232px}
.permalinkBody._57_t .uiHeader .uiHeaderTop{padding-top:2px}
.permalinkBody._57_t .rhcFooterWrap{padding-bottom:10px}
.permalinkBody._57_t .ego_unit{padding:3px 6px}
.canvas._57_t .hasRightCol #rightCol{width:290px}
.canvas._57_t .ego_section{width:290px}
._57_t.ego_page .UIStandardFrame_Content{width:680px}
._57_t .fbPhotoImageStage .imageStage{width:680px}
._57_t .fbxPhoto .fbPhotoImage{max-width:680px}
._57_t .ego_column{width:284px}
body.permalinkBody{background-color:#e7ebf2}
body.permalinkBody #globalContainer{margin-top:40px;min-width:889px;width:889px}
.permalinkBody #mainContainer{margin-bottom:50px;width:100%}
.permalinkBody #contentCol{background-color:transparent}
.permalinkBody .hasRightCol #rightCol{width:243px}
.permalinkBody .hasRightCol #contentArea{border:1px solid #c4cde0;border-radius:4px;width:624px;background-color:#fff;padding:0 3px 1px}
.permalinkBody .permalink_stream .uiStream .uiStreamMessage, .permalinkBody .permalink_stream .uiStream .uiStreamAttachments{padding-left:15px;padding-right:20px}
.permalinkBody .permalink_stream .uiStream .uiStreamMessage{font-size:13px;line-height:18px}
.permalinkBody .permalink_stream .uiStream .mainWrapper .uiAttachmentNoMedia{padding-left:10px;margin-left:18px;border-left:2px solid #c0c9dd}
.permalinkBody .permalink_stream .fbStreamPermalinkHeader{border-bottom:1px solid #e9e9e9;margin:15px;padding-bottom:10px}
.permalinkBody .permalink_stream .uiStream .uiStreamStory .mainWrapper{margin-bottom:4px;margin-right:0;padding-top:0}
.permalinkBody .uiCommentContainer{margin-bottom:-2px}
.permalinkBody .uiStreamRedesign .uiCommentContainer{margin-bottom:-4px}
.permalinkBody .fbTimelineUFI{margin-top:7px}
.permalinkBody .permalink_stream .subscribeOrLikeSentence, .permalinkBody .permalink_stream .uiStreamPassive, .permalinkBody .permalink_stream .uiStreamHeadline{color:#999;font-weight:normal}
.permalinkBody .permalink_stream .uiStreamPrivacy .img, .permalinkBody .permalink_stream .uiStreamSecondaryTime .img{margin-top:2px}
.permalinkBody .permalink_stream .uiStreamMessage .actorDescription{padding:0}
.permalinkBody .uiStreamSource{font-size:11px}
.permalinkBody .permalink_stream .uiStreamHide{float:right}
.permalinkBody .permalinkHeaderContent{margin-left:60px}
.permalinkBody .permalinkHeaderContent .permalinkHeaderContentText{max-width:447px}
.permalinkBody .permalinkHeaderInfo{max-width:370px}
.permalinkBody .fbStreamPermalinkHeader .uiCloseButton{left:-9999px;overflow:hidden;position:relative;float:right;margin-bottom:5px}
.permalinkBody .permalink_stream:hover .fbStreamPermalinkHeader .uiCloseButton{left:auto;overflow:visible;margin-bottom:5px}
.permalinkBody #globalContainer #mainContainer .permalink_stream .noStoryBodyHeader{border-bottom:none}
.permalinkBody #globalContainer #mainContainer .spamMessage{padding:15px 0 15px 15px;border-top:solid 1px #eee}
.uiStreamStory .photoPermaRedesign{width:530px}

#bootloader_pD4OO { height: 42px; }
.bootloader_pD4OO { display:block !important; }